body {
	background-color: #D72638;
  margin: 0;
}

img {
	width: 100%;
}

header h1 {
	font-family: 'Arial';
	font-size: 40px;
	margin: 0 0 0 0px;
  padding-top: 20px;
  text-align: center;
  background-color: #140F2D;
  background-padding: 10px;
  background-repeat: no-repeat;
  background-size: auto;
}
header h1 a  {
	text-decoration: none;
	color: #D72638;
}

h3 {
	font-family: 'arial';
	font-size: 20px;
  color: #D72638;
  padding-bottom: 30px;
	margin: 0 0 0 0px;
  text-align: center;
  background-padding: 20px;
  background-color: #140F2D;
}

img {
  padding-top: 60px;
  width: 25%;
  margin: 0 0 0 620px;
  
}

h4 {
	font-family: 'arial';
	font-size: 20px;
  color: #FFCC92;
  text-align: center;
  padding-top: 0px;
  
}

p {
	font-family: 'Times New Roman';
	font-size: 20px;
  color: #FFCC92;
  text-align: center;
  padding-top: 0px;
  
}
p1 {
	font-family: 'Times New Roman';
	font-size: 15px;
  color: #FFCC92;
  text-align: center;
}

div.paragraph {
  width:600px;
  padding-left: 550px;
}
div.container {
  font-family: 'arial';
	font-size: 15px;
  color: #FFCC92;
  list-style-position:inside;
  padding-left: 600px;
  
}

ul.myUL, ol.myOl  {
  
  display: inline-block;
  text-align: left;
  
}

hr {
  width: 30%;
  border: 1px solid #140F2D;
  margin: 70 0 0 120px;
}

a {
    color: #FFCC92;   
  text-decoration: none;
}

a:hover {
  background-color: #3F88C5;
}


footer {
	font-family: 'Arial';
	font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #140F2D;
  background-padding: 10px;
  background-repeat: no-repeat;
  background-size: auto;
}

